libgpufs/release/*.o
libgpufs/release/*.a
samples/grep_text/*.o
samples/grep_text/out*
samples/grep_text/fs_gpu
samples/grep_text/fs_gpu_nofs
samples/grep_text/gpu_timing
samples/grep_text/gpufs.sorted
samples/grep_text/grep_text_cpu
samples/img/*.o
samples/img/test*
samples/img/out*
samples/img/fs
samples/img/img_cpu
samples/memcopy/cp
samples/memcopy/cp_cuda.o
samples/bigmatrix_mmap/fs
samples/bigmatrix_mmap/fs.o
samples/bigmatrix_mmap/bigmatrix_cpu
samples/bigmatrix_mmap/bigmatrix_cpu.o
samples/bigmatrix_mmap/bigmatrix_nofs
samples/bigmatrix_mmap/bigmatrix_nofs_naive
samples/bigmatrix_mmap/out
samples/bigmatrix_mmap/try*
